@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('fonts/roboto-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* define whole page */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#whole-container {
    display: flex;
    font-family: robotoregular;
}

/* define left-part */

#left-part {
    width:40vw;
    height:100vh;
    position: relative;
    flex: 0 0 auto;
}

#left-background-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#left-bar {
    background-color:rgba(240, 248, 255, 0.4);
    position: absolute;
    top: 15vh;
    height: 15vh;
    width: 100%;
    overflow: hidden;
}

#left-bar-wrap {
    display: flex;
    align-items: center;
    height: 100%;
    width: max-content;
    margin: 0 auto;
}

#left-bar img {
    height: 85%;
}

#left-bar p {
    font-family: norsebold;
    font-size: 12vh;
    color: white;
    height: 100%;
    margin-left: 1rem;
}


/* define right-part */

#right-top-container {
    height:30vh;
    background: #f8f8f8;
    font-size: calc(1rem + 0.8vw);
    /* flex font-size basic */
    font-weight: bold;
    overflow: hidden;
    padding-top: 10vh;
    padding-left: 3vw;
    padding-right: 10vh;
}   

#user-form-container {
    height:30vh;
    width: 100%;
    box-shadow: 0 0.5vh 0.5vh rgba(70, 69, 69, 0.3);
}

#middle-title {
    padding: 2vh 3vw 2vh 3vw;
    font-size: calc(1.2rem + 1vw);
}

#user-form {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8vw 3vw;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3vw;/* middle gap size 2vw*/
    font-size: calc(0.4rem + 0.5vw);
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    letter-spacing: 3px;
}

input {
    padding: 8px;
    margin: 0;
    width: 18vw;
    box-sizing: border-box;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 1px solid rgb(230, 230, 230);
    background-color: rgb(255, 255, 255);
}

button {
    background-color: #596D48;
    color: white;
    padding: 15px 60px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    margin: 3vh 3vw;
}

#log-in {
    margin-left: 3vw;
    font-size:1.5rem;
}


/* define the dynamic style of input */
input:focus {
    border:1px solid rgb(80, 120, 255);
    box-shadow: 2px 2px 2px rgb(230, 230, 230);
}

input:focus:invalid {
    border: 3px solid rgba(255, 0, 0, 0.447);
    box-shadow: 2px 2px 2px rgb(230, 230, 230);
    background-color: rgba(255, 0, 0, 0.02);
    outline: none;
}